{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
    <div class="card">
        <br>
        <br>
        <br>
        <div class="row">
            <h4>
                {% if pitch.user.profile_pic_path %}
                <img src="{{url_for('static',filename = pitch.user.profile_pic_path)}}" alt="" class="img-thumbnail">
                {% else %}
                <img src="{{url_for('static',filename = 'photos/avatar.png')}}" alt="" class="img-thumbnail">
                {% endif %}
                <a href="/user/{{pitch.user.username}}&{{pitch.user.id}}">{{pitch.user.username|capitalize}}</a>
            </h4>
            <p class="pitch-content">{{pitch.pitch_content}}</p>
            <hr>
            {{wtf.quick_form(comment_form)}}
            {{macro.displayComments(comments)}}
        </div>
    </div>
</div>
{% endblock %}